.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.div1 {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.borderClass {
  margin: auto;
  width: 46%;
  background-color: rgba(180, 232, 217, 0.5);
}

#d-flex-justify-content-center-h {
  color: #6668ff;
  padding-bottom: 4%;
  padding-top: 4%;
  font-weight: bolder;
}

#btn-btn-primary {
  width: 100%;
}

#btn-btn-outline-primary {
  width: 100%;
}

.col-sm {
  margin-top: auto;
  margin-bottom: auto;
}

#card-bg-light-mb-3 {
  width: 70%;
}

#card-header-text-center-font-weight-bold {
  background-color: #8ae7c5;
}

#card-text-text-center {
  color: resultColor;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (min-width: 600px) {
  .borderClass {
    width: 46%;
    background-color: rgba(180, 232, 217, 0.5);
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }
  .card{
    width: 70%;
    margin-bottom: 20px;
  }
  h1{
    color: #6668ff;
    font-size: 30px;
    
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .borderClass {
    width: 95%;
    background-color: rgba(180, 232, 217, 0.5);
    margin: auto;
    
  }
  .card{
    width: 99%;
    /* min-height: 30px; */
  }
  h1{
    color: #6668ff;
    font-size: 15px;
    
  }
}



/* h1{
  color: red;
  font-size: 1000;
} */

